<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>

<body>
    <h1>Mujer Invisible</h1>
    <p>La Mujer Invisible (Susan Storm), anteriormente conocida como la Chica Invisible, es una superheroína ficticia
        que aparece en cómics estadounidenses publicados por Marvel Comics. El personaje es miembro fundador de los
        Cuatro Fantásticos y fue la primera superheroína creada por Marvel durante la Era de la Plata de los Cómics.

        Sue Richards recibió sus poderes después de haber estado expuesta a una tormenta cósmica. Su poder primario se
        ocupa de las ondas de luz, lo que le permite hacerse invisible a sí misma y a los demás. También puede proyectar
        poderosos campos de energía psiónica invisible que utiliza para una variedad de efectos ofensivos y defensivos.
        Richards desempeña un papel central en la vida de su hermano menor flameante, Johnny Storm, su brillante marido
        Reed Richards, su amigo íntimo Ben Grimm, y sus hijos (Franklin y Valeria).</p>
    <img src="http://www.defondos.com/bulkupload/wallpapers-superheroes/Peliculas/Super%20Heroes/Mujer%20Invisible_800.jpg"
        width="600" height="800">
</body>

</html>