<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>

<body>
    <h1>Hulk</h1>
    <p>Hulk (llamado La Masa o El Hombre Increíble en muchas de las traducciones al español) es un personaje ficticio,
        un superhéroe que aparece en los cómics estadounidenses publicados por la editorial Marvel Comics, es
        considerado el personaje más fuerte de Marvel Comics. El personaje fue creado por los escritores Stan Lee y Jack
        Kirby siendo su primera aparición en The Incredible Hulk #1 publicado en mayo de 1962. En sus apariciones de
        cómic, el personaje es a la vez Hulk, un ser humanoide enorme de piel verde, corpulento y musculoso que posee
        una gran fortaleza física, y su alter ego el Dr. Robert Bruce Banner (o Dr. David Bruce Banner),3​4​ un físico
        socialmente retraído, débil físicamente y emocionalmente reservado, las dos personalidades existentes como
        independientes y con resentimiento de la otra.</p>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/el-increible-hulk-1554403044.jpg" width="600"
        height="800">
</body>

</html>