<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
</head>

<body>
    <style>
        body {
            background-image:url("https://st2.depositphotos.com/4593207/49108/v/600/depositphotos_491080572-stock-video-red-and-blue-hero-cosmic.jpg");
            background-size: cover;
        }
    </style>
<FONT COLOR="white"><h1>DH HEROES</h1></font>
</body>

</html>