<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>

<body>
    <h1>Tormenta</h1>
    <p>Tormenta (Storm, en el inglés original), alias de Ororo Iqadi Munroe, es una superheroína ficticia de la
        editorial estadounidense Marvel Comics. Esta superheroína apareció por primera vez en el cómic Giant-Size X-Men
        #1 (mayo de 1975), y fue creada por el guionista Len Wein y el dibujante Dave Cockrum. La caracterizan sus ojos
        azules, pelo blanco y tez oscura (es negra). Ella es capaz de controlar el clima y la atmósfera y se considera
        que es uno de los mutantes más poderosos del planeta.

        Fue reclutada por Charles Xavier para sus X-Men, que llegaría a liderar. Ha sido reina de Wakanda, título que
        heredó al contraer matrimonio con el rey T'Challa, también conocido como Pantera Negra.</p>
    <img src="https://live.staticflickr.com/2432/3898629253_6f90665a24_z.jpg"
        width="700" height="800">

</body>

</html>